
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}